{% extends 'base.html' %}
{% block page_heading %}
Enter new password
{% endblock %}
{% block content %}
<form method="POST">
    <p>
        Please enter your new password twice so we can verify you typed it in correctly.
    </p>
    <br>
    {% csrf_token %}
    <div class="field">
        <label class="label">New password:</label>
        <div class="control">
            {{ form.new_password1.errors }}
            {{ form.new_password1 }}        
        </div>
    </div>
    <div class="field">
        <label class="label">Confirm password:</label>
        <div class="control">
            {{ form.new_password2.errors }}
            {{ form.new_password2 }}        
        </div>
    </div>


    <button class="button is-danger">Reset Password</button>
</form>
{% endblock %}